@font-face {
    font-family: FontAwesome5;
    src: url('./assets/webfonts/fa-solid-900.ttf'); 
}

@font-face {
    font-family: FontAwesome5reg;
    src: url('./assets/webfonts/fa-brands-400.ttf'); 
}