/*-------- Footer ---------*/
.footer {
 
  background: #ffffff;
  padding-top: 5px;
}

.footer__about {
  margin-bottom: 30px;

  p {
    color:#cccccc;
    margin-bottom: 20px;
  }
}

.footer__logo {
  margin-bottom: 20px;
}


.footer__widget {
  margin-bottom: 30px;
  text-align: left;
  h6 {
    color: rgba(0,192,164,1);
    margin-bottom: 8px;
    font-weight: 600;
    text-transform: uppercase;
  }

  ul {

    li {
      list-style: none;

      a {
        font-size: 16px;
        color: rgba(112,112,112,1);
        line-height: 30px;
      }
    }
  }
}

.footer__copyright__text {
  //border-top: 1px solid rgb(178,178,178);
  padding: 12px 0 12px;
  text-align: center;
  margin-top: 1px;

  p {
    font-size: 12px;
    color: rgb(173, 173, 173);
    margin-bottom: 0;
  }

  a {
    color: $primary-color;
  }

  i {
    color: $veget-color;
  }

  span {
    font-size: 17px;
    color: $veget-color;
    font-weight:500;
    margin-right: 53%;
  }

  a:hover {
      color: $veget-color;
    }
}
/*-------- End Footer ---------*/