.notice-page{

    .manage-table {
        
        title, .subtitle {
            max-width: 350px;
        }
        .title {   
            margin-bottom: 15px;
        }
        .subtitle { font-size: 12px; color: $primary-color;}
    }
}