/*--- Sidebar --- */
.dash-sidebar {
  z-index: 1038;
  position: fixed;
  font-weight: 600;
  background: $base-color !important;
  width: 290px;
  //height: 92vh;
  //height: calc(100vh - 75px);
  height: calc(var(--vh, 1vh) * 100 - 75px);
  top: 50px;
  left: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  overflow: auto;
  overflow-x: hidden;
  overscroll-behavior: contain; /* Prevent SCROLL-CHAINING to parent elements. */
  //-webkit-overflow-scrolling: touch;
  
  &::-webkit-scrollbar {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
 
  /* Handle */
  &:hover {
    visibility: visible;
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    }
    
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
  }  

  li {
    padding: 0 15px;  
    display: block;
    text-align: left;
    width: 98%;
    height: 55px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 0.025em;
    line-height: 55px;
    color: $text-color; 
    border-radius: 3px;

    svg {
      color: $primary-color;
      fill:$primary-color;
      width: 16px;
      height: 16px;
    }
    
    > span {
      display: inline-block;
      visibility: visible;
      vertical-align: middle;
      opacity: 1;
      padding-left: 10px;
      font-size: 16px;
    }
    

    &:hover {
      background: darken($base-color, 5);

      //a > i {//color: white;}
    }

  }

  li.active {
    color: white;
    background-color: $veget-background-color;
    svg {
      color: white;
      fill: white;
      width: 16px;
      height: 16px;
    }
  }
}

.dash-sidebar.sticky {
  //box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
}


.dash-sidebar.sidebar-min {
  width: 45px !important;
  left: -290px;
  .rad-sidebar-item {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.1s linear;
  }

  i {
    border: 0px;
    color: white;
    transition: all 0.2s linear;
  }

  li:hover {
    .icon-bg {
      transform: scale(1.2, 1);
    }
  }
}
/*--- End Sidebar --- */