$primary-color: rgb(112,112,112);
$primary-color-light: rgb(141, 141, 141);
$secondary-color: #cfcfcf;

$white-color: #ffffff;
$black-color: #000000;

$heading-color: #ffffff;
$heading-color2: #000000;
$heading-icon-color: #89949b;
$heading-icon-color2: #6e777c;

$title-color:#000000;
$normal-color: #1c1c1c;

$background: #f5f5f5;
$background2: #f2f2f2;

$headerheight:74px;
$border: #ebebeb;
$border-bottom: rgba(173, 173, 173, 0.534);

$veget-color: #309398;
$veget-color-hover: rgb(3, 150, 128);
$veget-border-color: rgba(171, 240, 228, 0.562);
$veget-border-bottom: #236b6e;
$veget-background-color: #309398;
$veget-background-color2: rgb(198, 241, 241); 
$veget-boxshadow-color: rgba(0, 124, 106, 0.333);

$sub-veget-color:#FC9A85;
$sub-veget-color2: #1d78eb;
$sub-veget-background-color:#FFE2D8;
$sub-veget-border-bottom: #FC9A85;
$sub-veget-background-color2:#f1f6ff;

$vs-dropdown-min-width: 100px !default;

      
