	<!-- Sidebar Begin -->
    <aside class="dash-sidebar">
        <ul>
        
            <router-link tag="li" active-class="active" to="/student">                
                <font-awesome-icon icon="user" />
                <span class="rad-sidebar-item">學生管理</span>         
            </router-link>                       
               
            <router-link tag="li" active-class="active" to="/notice">
                <!-- <unicon name="megaphone"></unicon> -->
                <font-awesome-icon icon="bullhorn" />
                <span class="rad-sidebar-item">公告管理</span>             
            </router-link>    


            <router-link tag="li" active-class="active" to="/class">
                <font-awesome-icon icon="book" />
                <span class="rad-sidebar-item">課程管理</span>             
            </router-link>    

            <router-link tag="li" active-class="active" to="/account">
                <font-awesome-icon icon="cog" />
                <span class="rad-sidebar-item">帳號管理</span>             
            </router-link>    
                     
        </ul>
    </aside>
    <!-- Sidebar End -->